:root {
    --shop-color: seashell;
    --bg-color: #000;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif, serif;
    font-size: 22px;
    color: var(--shop-color);
    background-color: var(--bg-color);
    text-align: center;
}

html * {
    opacity: 0.94;
}

header {
    display: flex;
    border-bottom: 1px solid var(--shop-color);
    height: 4.313rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    background-color: var(--bg-color);
    z-index: 10;
}

header img {
    height: 3.125rem;
}

header img,
header nav {
    padding: 10px;
}

header nav a {
    padding-left: 1.5rem;
    color: var(--shop-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mission {
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 43.75rem;
    width: 75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#mission div {
    background-color: var(--bg-color);
    width: 100%;
}

#featured {
    width: 62.5rem;
}

#featured div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#featured figure img {
    width: 18.75rem;
    height: 12.5rem;
}

#featured figure {
    margin: 0.938rem;
}

#featured figcaption {
    padding-top: 10px;
    font-weight: 600;
}

#featured, 
#locations {
    margin-top: 30px;
}

#locations {
    background-image: url('../assets/locations.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 25%;
    width: 75rem;
    height: 31.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#locations section {
    display: flex;
}

#locations section article {
    background-color: var(--bg-color);
    margin-left: 2.5rem;
    width: 18.75rem;
    opacity: 1;
}

footer {
    text-align: left;
    padding-left: 20px;
}

aside a {
    color: var(--shop-color);
    text-decoration: none;
}

/* media query change fontsize to body */
@media screen and (max-width: 800px) {
    body {
        font-size: 16px;
    }
}